* {
    box-sizing: border-box;
}

#main {
    text-align: center;
}

.h {
    background-color: white;
    display: inline-block;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: double 4px aqua;
    border-radius: 15px;
    width: 30%;
    padding: 2px 10px;
}

#myform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 30%

}

form {
    display: block;
    border: double 4px blue;
    border-radius: 15px;
    width: 30%;

}

#dis {
    width: 100%;
    padding: 5px;
    font-size: 35px;
    border: double 4px aqua;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: right;
}

.lowerpart {
    padding: 5px 0px;
    border: double 4px aqua;
    border-radius: 15px;
}

.btn {
    padding: 0px;
    margin: 0px;
    width: 19%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
}

.btn:hover {
    background-color: aqua;
    color:blue;
}